@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/

/* Declare the global css variables */
:root {
  --dark-grey-color: #2e2e2e;
  --light-grey-color: #e1e1e1;
  --pink-color: #f3abfd;
  --blue-color: #8bc3f7;
  --yellow-color: #f8ed93;
  --green-color: #abfdb9;
  --brown-color: #a2715e;
  --blurple-color: #7289da;

  --plains-color: lightgreen;
  --forest-color: #228b22;
  --desert-color: #f5f582;
  --mountains-color: #9e9e9e;

  --families-gradient: var(--pink-color), var(--blue-color), var(--yellow-color), var(--green-color);

  --gold-texture-gradient: 105deg, #ffe572, #a29146;
  --silver-texture-gradient: 105deg, #d4eaea, #84b0b0;
  --bronze-texture-gradient: 105deg, #dfac6d, #715839;
  --iron-texture-gradient: 105deg, #e8e8e8, #aeaeae;

  --harvest-color: lightgreen;
  --craft-color: lightskyblue;
  --trade-color: lightsalmon;

  --enable: #50c697;
  --disable: #f78989;
}

/* Set default properties for some html elements */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

img {
  user-select: none;
  pointer-events: none;
}

/* Set default margin for all titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Text default styles */
h1,
h3 {
  font-size: min(45px, 5vw);
  font-weight: 600;
}

h2 {
  font-size: min(80px, 7vw);
  font-weight: 600;
  user-select: none;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--blue-color);
}

p {
  font-size: 20px;
  margin: 30px 0;
  font-weight: 500;
}

.alternate {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
  color: var(--dark-grey-color);
}

.rainbow-text,
.iron-text,
.gold-text {
  display: inline;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.rainbow-text {
  background: linear-gradient(90deg, var(--families-gradient));
}

.iron-text {
  background: linear-gradient(var(--iron-texture-gradient));
}

.gold-text {
  background: linear-gradient(var(--gold-texture-gradient));
}
