#VillageGrid {
  --cell-height: calc(var(--header-height) / 20);

  position: relative;
  height: var(--header-height); // The full header height written in HomePage.scss
  width: 100%;

  display: grid;
  grid-template-columns: repeat(99, var(--cell-height));
  grid-template-rows: repeat(99, var(--cell-height));
  align-content: center;
  justify-content: center;

  .Building {
    animation: fadeAndTranslateFromTop 0.2s ease-out backwards;
  }

  .info {
    animation: fadeAndTranslateFromTop 0.2s ease-out backwards;
  }
}

@keyframes fadeAndTranslateFromTop {
  from {
    opacity: 0;
    transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
