#HomePage {
  --header-size: 80vh;

  header {
    min-height: var(--header-size);

    background-color: var(--plains-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    min-height: 150vh;
  }
}
