#HomePage {
  --header-height: 80vh;
  --nav-height: 20vh;
  --section-height: 750px;
  --footer-height: 250px;

  header {
    height: var(--header-height);

    background: linear-gradient(
      -10deg,
      var(--desert-color) 15%,
      var(--plains-color),
      var(--plains-color),
      var(--plains-color)
    );
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    height: var(--nav-height);

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      max-width: 80vw;
      text-align: center;
      white-space: nowrap;
    }
  }

  section {
    min-height: var(--section-height);

    display: flex;
    justify-content: center;

    h6 {
      margin-top: 75px;
    }

    .left-side {
      height: var(--section-height);
      width: min(500px, 45vw);
    }
    .right-side {
      height: var(--section-height);
      width: min(500px, 45vw);
    }
  }

  section.kharoh {
    .left-side {
      width: min(500px, 45vw);

      .discord {
        padding: 15px 25px;
        width: 200px;

        border-radius: 0 25px 0 25px;
        background-color: var(--blurple-color);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 40px;

        p {
          color: white;
          margin: 0;
        }

        .title {
          user-select: none;
          font-size: 15px;
          font-weight: 600;
        }
        .username {
          font-size: 45px;
          font-weight: 700;
        }
        .tag {
          font-size: 20px;
          font-weight: 600;
          color: var(--light-grey-color);
        }
      }
    }

    .right-side {
      width: min(500px, 45vw);

      display: flex;
      align-items: flex-start;
      justify-content: center;

      .container {
        margin-top: 75px;
        width: 400px;
        height: 500px;

        border-radius: 75px 0 75px 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 40px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h3,
        p {
          margin: 50px 50px 0 0;
          font-size: 35px;
          width: 300px;
          text-align: right;
        }

        p {
          margin-top: 25px;
          font-size: 25px;
          width: 310px;
        }

        button {
          margin-top: 30px;
          width: 250px;
          height: 75px;
          align-self: center;

          border: none;
          background: linear-gradient(var(--gold-texture-gradient));
          border-radius: 25px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
          cursor: pointer;

          font-size: 25px;
          font-weight: 700;
          font-style: italic;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: white;

          transition: all 0.15s;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
            transform: translateY(-5px);
          }

          &:active {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px inset;
            transform: translateY(5px);
          }
        }

        .names {
          margin-top: 25px;
          margin-right: 50px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;

          div {
            margin: 5px;
            height: 50px;
            width: 90px;

            background: linear-gradient(var(--bronze-texture-gradient));
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px inset;
            cursor: pointer;

            user-select: none;
            font-size: 15px;
            font-weight: 600;
            color: white;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  section.projects {
    background-color: var(--dark-grey-color);
    color: white;

    .left-side {
      width: min(400px, 35vw);

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right-side {
      text-align: center;
      width: min(600px, 55vw);
    }
  }

  section.projects-presentation {
    margin-top: -250px;
    padding-bottom: 150px;

    background-color: var(--dark-grey-color);
    color: white;

    --article-height: 1000px;
    --article-width: clamp(500px, 45vw, 750px);
    --border-size: 2px;
    --border-radius: 50px;

    flex-wrap: wrap;
    justify-content: space-evenly;

    article {
      margin-top: 20px;
      height: var(--article-height);
      width: var(--article-width);

      border-radius: var(--border-radius);

      display: flex;
      align-items: center;
      justify-content: center;

      .inner {
        height: calc(var(--article-height) - calc(var(--border-size) * 2));
        width: calc(var(--article-width) - calc(var(--border-size) * 2));

        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px inset;
        background-color: rgb(46, 46, 46, 0.8);
        border-radius: calc(var(--border-radius) - var(--border-size));
        overflow: hidden;

        display: grid;
        grid-template-rows: 200px 200px;

        h3 {
          color: white;
          align-self: flex-end;
          width: 250px;
        }

        img {
          max-width: 150px;
        }

        p {
          margin: 0;
          margin-top: 25px;
          font-size: 18px;
          width: 500px;
        }

        .dark-section {
          margin-top: 50px;
          height: 600px;
          width: calc(var(--article-width) - calc(var(--border-size) * 2));
          border-radius: 50px;
          background-color: var(--dark-grey-color);
          grid-row: 3;
          grid-column: 1/3;

          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            margin-top: 50px;
            width: 600px;
            text-align: center;
          }

          .collabs {
            margin-top: 15px;
            height: 175px;
            max-width: 500px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .collab {
              margin: 0 10px;
              height: 65px;
              min-width: 130px;

              border-radius: 15px;
              box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
              cursor: pointer;

              color: var(--dark-grey-color); //white
              font-size: 25px;
              font-weight: 700;
              user-select: none;

              display: flex;
              align-items: center;
              justify-content: center;

              transition: transform 0.15s;

              &.gold {
                background: linear-gradient(var(--gold-texture-gradient));
              }

              &.silver {
                background: linear-gradient(var(--silver-texture-gradient));
              }

              &.bronze {
                background: linear-gradient(var(--bronze-texture-gradient));
              }

              &:hover {
                transform: translateY(-15px);
              }
            }
          }

          .links {
            margin-top: 50px;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > div {
              height: 185px;
              width: calc(var(--article-width) * 0.475);

              background-color: white;
              cursor: pointer;
              box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px inset;

              user-select: none;
              font-size: 40px;
              font-weight: 700;

              transition: box-shadow 0.05s;

              &:active {
                box-shadow: rgb(0 0 0 / 25%) 0px 10px 25px inset;
              }

              a {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                color: inherit;
              }
            }

            .discord {
              border-radius: 0 50px 0 0;
              background-color: var(--blurple-color);
            }

            .github {
              color: var(--dark-grey-color);
              border-radius: 50px 0 0 0;
            }
          }
        }
      }

      &.kfies {
        background: linear-gradient(125deg, var(--families-gradient));

        .inner {
          grid-template-columns: calc(var(--article-width) * 0.75) calc(var(--article-width) * 0.25);

          h3 {
            transform: translateY(-10px);
            margin-right: 10px;
            text-align: right;
            justify-self: flex-end;
            font-size: 50px;
          }

          p {
            margin-right: 50px;
            grid-row: 2;
            grid-column: 1/3;
            text-align: right;
            justify-self: flex-end;
          }

          img {
            grid-area: 1/2;
            align-self: flex-end;
            justify-self: flex-start;
            filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.5));
          }
        }
      }

      &.kfs {
        background: linear-gradient(var(--silver-texture-gradient));

        .inner {
          grid-template-columns: 200px 550px;

          h3 {
            transform: translateY(-10px);
            margin-left: 20px;
            width: 200px;
            font-size: 35px;
          }

          p {
            margin-left: 50px;
            grid-row: 2;
            grid-column: 1/3;
            text-align: left;
            justify-self: flex-start;
          }

          img {
            grid-area: 1/1;
            align-self: flex-end;
            justify-self: flex-end;
            filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.5));
          }
        }
      }
    }
  }

  section.collabs {
    min-height: 500px;
  }

  footer {
    height: var(--footer-height);

    background-color: var(--dark-grey-color);
  }
}
